@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
body {
font-family: 'Montserrat', sans-serif;
}
* {
    margin:0;
    padding:0;
}
.container {
    width:1366px;
    margin:0 auto;
}
.header {
    background-color:  #f5f5f5;
    width: 1366px;
    height: 360px;
}
.header_product {
    height:119px;
    width: 1366px;
    background-color:#fff;
}
.header_main {
    height:800px;
    background-image: url(img/slider.jpg);
}
.content {
    background:#fff;
}
.header .logo {
    margin-left:98px;
    margin-top:63px;
}
.header_product .logo {
    margin-left:98px;
    margin-top:63px;
}
.menu {
    float:right;
    margin-right:211px;
    margin-top:67px;    
}
.menu li {
    float:left;
    list-style-type:none;
}
.menu li a {
    font-family: Montserrat;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-decoration: none;
    display:block;
    padding:0 20px;
}
/*.menu li a:active {
    font-family: Montserrat;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-align: right;
}*/
.menu li a:hover {
    color:  #212121;
    border-bottom:3px solid black;
}
.text2 {
    margin-top: 171px;
    margin-left: 101px;
}
.text2 h1 {
    font-family: Montserrat;
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.location {
    margin-top:71px;
    margin-left: 98px;
}
.text_loc {
    margin:0 auto;
}
.text_loc h1 {
    font-family: Montserrat;
    color:  #212121;
    font-size: 21.91px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
    padding-top:24px;
}
.text_loc h3 {
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
    margin-top:-10px;
}
.text_loc h4 {
    font-family: Montserrat;
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.082px;
    text-align: center;
    margin-top:-20px;
    padding-bottom:5px;

}
.text_loc p {
    font-family: Montserrat;
color:  #6c6c6c;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 20.082px;/* Приближение из-за подстановки шрифтов */
text-align: center;
transform: scaleX(1.0041);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */

}
.text_loc img {
    padding-top:48px;
    padding-left: 166px;
}
.block_loc {
    float:left;
    border-width: 1px;
    border-color:  #9c9c9c;
    border-style: solid;
    background-color:  #ffffff;
    opacity: 0.9;
    width: 368px;
    height: 368px;
    margin-bottom: 122px;
    margin-right:30px;
}
.text {
    width:458px;
    margin-top:288px;
    margin-left:98px;
}
.text h3 {
    color:  #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
}
.text h1 {
    letter-spacing: -3px;
    color:  #212121;
    font-size: 58px;
    font-weight: 100;
    line-height: 72px;
    margin-bottom:34px;
}
.text p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom:32px;
}
.text a {
    display:block;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius:22px;
    text-align:center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    margin-bottom:85px;
}
.text a:hover {
    background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.navi {
    width:120px;
    height: 40px;
    background: url('img/navi_active.png') no-repeat;
    margin-left:525px;
}
.search {
    width:23px;
    height:23px;
    float:right;
    margin-top: 80px;
    margin-right: -600px;
}
.con {
    list-style-type: none;
    margin-left:98px;
    margin-top:120px;
}
.con li {
    float:left;
    padding: 0 10px;
    color:  #6c6c6c;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    border-bottom:1px solid black;
}
.more {
    color:  #212121;
    width:170px;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    background:url('img/arrow.png') no-repeat 150px 5px;
    text-decoration: none;
    float:right;
    margin-right:97px;
    margin-top:13px;
}
.con li:nth-child(1) {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    display:block;
    text-decoration: none;
    text-align: left;
    border-bottom:3px solid black;
}
.con li:hover{
    overflow:hidden;
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    display:block;
    text-decoration: none;
    text-align: left;
    border-bottom:3px solid black;
}
.clear {
    clear:both;
}
.product {
    width: 270px;
    height:270px;
    margin-right: 30px;
    margin-top:50px;
    float: left;
}
.product:hover { 
    height:270px;
    outline:1px solid #9c9c9c;
    background-color:  #ffffff;
    opacity: 0.3;
    width: 270px;
}
.product1 {
    width: 270px;
    height:270px;
    margin-right: 30px;
    margin-top:50px;
    position:relative;
    float: left;
}
.product1 img:hover {
    opacity:0.4;
}
.producthover {
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    outline:1px solid #9c9c9c;
    background:url(img/product-1_opacity.jpg);
    display:none;
}
.product1:hover .producthover {
    display:block;
}
.producthover h3 {
    color:  #212121;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    transform: scaleX(1.0041);
    padding-left:63px;
    padding-right:63px;
    padding-top:129px;
}
.producthover p {
    padding-top:23px;
    padding-left:32px;
    padding-right:32px;
    color:  #000;
    font-size: 13.5px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.producthover a {
    display:block;
    position:absolute;
    background: #ffffff url('img/arrow2.png') no-repeat 18px 14px;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    text-decoration: none;
    border-radius:50%;
    margin-top:62px;
    margin-right:111px;
    margin-left: 111px;
}
.newproduct {
    width:auto;
    height:270px;
    margin-left: 98px;
}
.promo img {
    float:left;
    margin-top:120px;
}
.textpromo {
    position:absolute;
     margin-top:378px;
     margin-left: 51px;
}
.textpromo h3 {
    color:  #1e88e5;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom:18px;
}
.textpromo h1 {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom:24px;
}
.textpromo p {
    color:  #6c6c6c;
    font-size: 13.99px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleY(1.0022);
    margin-bottom:34px;
}
.textpromo a {
    display:block;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius:22px;
    text-align:center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    margin-bottom:85px;
}
.textpromo a:hover {
    background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.textpromo2 {
    position:absolute;
     margin-top:378px;
     margin-left: 731px;
}
.textpromo2 h3 {
    color:  #1e88e5;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom:18px;
}
.textpromo2 h1 {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    margin-bottom:24px;
}
.textpromo2 p {
    color:  #6c6c6c;
    font-size: 13.99px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    transform: scaleY(1.0022);
    margin-bottom:34px;
}
.textpromo2 a {
    display:block;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius:22px;
    text-align:center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    margin-bottom:85px;
}
.textpromo2 a:hover {
    background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.trend {
    color:  #212121;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    position:absolute;
    text-align: left;
    margin-top:119px;
    margin-left: 98px;
}
.more2 {
     color:  #212121;
    width:170px;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    background:url('img/arrow.png') no-repeat 150px 5px;
    text-decoration: none;
    float:right;
    margin-right:97px;
    margin-top:130px;
}
.tablemain {
margin-left: 80px;
margin-top: 64px;
}
.tablemain td {
    padding:15px;
}
.slider2 {
    margin-top: 120px;
    width:auto;
    height:800px;
    background: url(img/slider2.jpg)no-repeat;
}
.textslider {
    position:absolute;
     margin-top:287px;
     margin-left: 99px;
}
.textslider h3 {
    color:  #e53935;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.textslider h1 {
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom:14px;
}
.textslider p {
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom:32px;
}
.textslider a {
    display:block;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius:22px;
    text-align:center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    margin-bottom:85px;
}
.textslider a:hover {
    background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.navislider {
    width:120px;
    height: 40px;
    background: url('img/navi_active.png') no-repeat;
    margin-left:525px;
    margin-top: 190px;
}
.exclusive {
    margin-top: 120px;
    margin-left: 98px;
}
.ex {
padding:11px;
padding-left: 15px;
}
.texttable {
    position:absolute;
    margin-top:-400px;
    margin-left: 30px;
}
.texttable h3 {
    color:  #1e88e5;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.texttable h1 {
   color:  #212121;
font-size: 36px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: left;
}
.texttable p {
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-bottom:32px;
}
.texttable a {
    display:block;
    background:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius:22px;
    text-align:center;
    line-height: 45px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    margin-bottom:85px;
}
.texttable a:hover {
    background: #ffffff url('img/arrow.png') no-repeat 173px 16px;
}
.mobile {
    width:auto;
    height:516px;
    background:url(img/back-img.jpg)no-repeat;
    margin-top:120px;
}
.mobile h3 {
    color:  #6c6c6c;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 48px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-top:125px;
    padding-left: 99px;
}
.mobile h1 {
    color:  #212121;
    font-size: 62px;/* Приближение из-за подстановки шрифтов */
    font-weight: 100;
    line-height: 72px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-left: 106px;
    margin-bottom:20px;
}
.mobile p {
    color:  #6c6c6c;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    padding-left: 99px;
}
.footer {
    width:auto;
    height:384px;
    background-color:  #f7f7f7;
}
.footer ul {
    padding-top:120px;
    padding-left: 99px;
    padding-right:105px;
}
.footer li {
    list-style-type: none;
    float:left;
    color:  #6c6c6c;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.footer li:nth-child(2) {
 margin-left: 80px;
}
.footer li:nth-child(3) {
 margin-left: 78px;
}
.footer li h3 {
    color:  #212121;
    padding-left: 2px;
    padding-top: 24px;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.links {
    color:  #212121;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.footer li p {
color:  #212121;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 22px;/* Приближение из-за подстановки шрифтов */
text-align: left;
margin-top:24px;
margin-bottom: 26px;
}
.footer table {
    color:  #212121;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.footer table td {
    padding-top:20px;
}
.footer input[type=text] {
    border-width: 1px;
    border-color:  #d9dee1;
    border-style: solid;
    background-color:  #ffffff;
    width: 368px;
    height: 46px;
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}
.footer input::placeholder {
padding:10px;
}
.footer input[type=submit] {
    width:21px;
    height:17px;
}
.copy {
    margin-top: 77px;
    margin-left: 98px;
    color:  #6c6c6c;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    float:left;
}
.social {
    width:129px;
    height:28px;
    background: url(img/social-links.jpg);
    margin-left:158px;
    float:left;
    margin-top: 70px;
}
.terms {
    color:  #6c6c6c;
    float:left;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 26px;/* Приближение из-за подстановки шрифтов */
    text-align: right;
    margin-left: 172px;
    margin-top: 70px;
}
.product_range {
    margin-top:71px;
    margin-left: 105px;
    
}
.product_range li {
    float:left;
    font-family: Montserrat;
    color:  #6c6c6c;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    list-style-type: none;
    padding:0 10px;
}
.product_range a {
    text-decoration: none;
    color:  #6c6c6c;
    
}
.product_range a:hover {
    font-family: Montserrat;
    color:  #212121;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    border-bottom:3px solid black;
}
.product_list {
    margin-top: 50px;
    margin-left: 98px;
    margin-bottom: 71px;
}
.product_block {
    float:left;
    width:370px;
    height:370px;
    margin-right: 30px;
    margin-top: 30px;
}
.product_list2 {
    margin-top: 50px;
    margin-left: 98px;
    margin-bottom: 71px;
}
.product_block2 {
    float:left;
    width:370px;
    height:370px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom:120px;
}
.load {
    margin:0 auto;
    margin-top:71px;
    width:70px;
    height:70px;
}
.load:hover {
    opacity: 0.7;
}
.links_product {
    width:1366px;
    height:70px;
    background-color:  #f4f4f4;
}
.links_product a {
    padding:15px;
    text-decoration: none;
    color:  #6c6c6c;
    font-size: 17.99px;
    font-weight: 700;
    text-align: center;
    transform: scaleY(1.0006);
}
.links_product a:hover {
    padding:15px;
    text-decoration: none;
    color:  #212121;
    font-size: 17.99px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center;
}
.lnks {
    padding-top:28px;
}


